@model Day02MvcDemo.Models.Product

<h2>Chi tiết sản phẩm</h2>
<p><b>ID:</b> @Model.Id</p>
<p><b>Tên:</b> @Model.Name</p>
<p><b>Giá:</b> @Model.Price VNĐ</p>

<a href="/Product/Index">⬅ Quay lại danh sách</a>
