@model Day02MvcDemo.Models.Customer

<h2>Chi tiết khách hàng</h2>
<p><b>ID:</b> @Model.Id</p>
<p><b>Tên:</b> @Model.Name</p>
<p><b>Email:</b> @Model.Email</p>

<a asp-action="Index">Quay lại danh sách</a>
